body{
    margin:0;
    padding:0;
    background-color: darkolivegreen;
 background-repeat: repeat;
   background: fixed;
    background-image: url("images/background.webp");
}

.nav{
    text-align: center;
display: flex;
justify-content: center;
vertical-align: middle;
display: flex;
margin: auto;

    padding-top: 20px;
   
    width: 100%;
    overflow: auto;
    height: auto;
}
.navbar {

    color:white;
    align-self: start;
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;


    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(124, 199, 80);
    width: 98%;
    overflow: hidden;
    border: 1px solid #555;

    float:left;
    text-align: center;
}
.navbar li a{
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}
.navbar li a:hover{
    background-color: rgb(0, 31, 13);
    color:white;
}
.navbar li{
    float: left;
    text-align: center;
    border-right: 1px solid #555;
}
.tab1-bkg{
    /*background-image: url('https://npr.brightspotcdn.com/dims4/default/a0440f5/2147483647/strip/true/crop/1200x630+0+60/resize/1200x630!/quality/90/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2F1a%2Fa2%2Ff322553e43b78aefe2824628ca33%2Fhearts-istock-happy-lucky.jpg');*/
    background-repeat: no-repeat;
    background-size: 100%;
 }

 .txt {
    font-family: "tahoma", "Courier New", monospace;
    text-align: justify;
    text-justify: inter-word;
     line-height: 200%;
    padding: 20px;
    margin-top: 20px; 
	width:95%;
	color:#ffffff;
	margin: auto;
	background-color: #00000090;
	border: 2px solid rgb(99, 98, 97);
 }